{% extends "blog/base.html" %}
{% block content %}
  <div class="jumbotron">
  <h1 class="display-4">About Us</h1>
  <p class="lead">We are the team of greatness</p>
  <hr class="my-4">
  <p>We combine all spectres of computer science. We want to hire you!</p>
  <a class="btn btn-primary btn-lg bg-dark" href="mailto:darhan1204@gmail.com" role="button">Contact Us</a>
</div>
<a href="https://vk.com/lullfa"><i class="fa fa-vk" style="font-size:40px"></i></a>
<a href="https://github.com/darhan1204"><i class="fa fa-github" style="font-size:40px"></i></a>
<a href="https://linkedin.com/in/darkhan-nurzhakyp"><i class="fa fa-linkedin" style="font-size:40px"></i></a>
<a href="https://www.facebook.com/darkhan.nurzhakyp.5"><i class="fa fa-facebook" style="font-size:40px"></i></a>
{% endblock content %}
