{% extends "blog/base.html" %}
{% block content %}
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="cs-tab" data-toggle="tab" href="#cs" role="tab" aria-controls="cs" aria-selected="true">Computer Science</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="el-tab" data-toggle="tab" href="#el" role="tab" aria-controls="el" aria-selected="false">English language</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="ph-tab" data-toggle="tab" href="#ph" role="tab" aria-controls=ph aria-selected="false">Physics</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="cs" role="tabpanel" aria-labelledby="cs-tab">

      <div class="row">
    <div class="col-3">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-igcse-tab" data-toggle="pill" href="#v-pills-igcse" role="tab" aria-controls="v-pills-igcse" aria-selected="true">IGCSE</a>
        <a class="nav-link" id="v-pills-12g-tab" data-toggle="pill" href="#v-pills-12g" role="tab" aria-controls="v-pills-12g" aria-selected="false">12 Grade</a>
        <a class="nav-link" id="v-pills-11g-tab" data-toggle="pill" href="#v-pills-11g" role="tab" aria-controls="v-pills-11g" aria-selected="false">11 Grade</a>
        <a class="nav-link" id="v-pills-10g-tab" data-toggle="pill" href="#v-pills-10g" role="tab" aria-controls="v-pills-10g" aria-selected="false">10 Grade</a>
      </div>
    </div>
    <div class="col-9">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-igcse" role="tabpanel" aria-labelledby="v-pills-igcse-tab">Coming Soon!</div>
        <div class="tab-pane fade" id="v-pills-12g" role="tabpanel" aria-labelledby="v-pills-12g-tab">Coming Soon!</div>
        <div class="tab-pane fade" id="v-pills-11g" role="tabpanel" aria-labelledby="v-pills-11g-tab">
          <div class="container">
            <div class="row cf">
              <div class="six col">
                <h3>1st term</h3>
              </div>
            </div>
            <div class="row cf">
              <div class="six col">
                <a href="https://drive.google.com/open?id=1TQHbQoIQAZhCPBTxERmxvd9k5o-QkWAM" class="btn btn-primary btn-lg m-2">Data types</a>
              </div>
              <div class="six col">
                <a href="https://drive.google.com/open?id=1ykdc474BPTm5wB0mmZrmIAAsVKP1D0UJ" class="btn btn-primary btn-lg m-2">Conditionals</a>
              </div>
            </div>
            <div class="row cf">
              <div class="six col">
                <a href="https://drive.google.com/open?id=1MaX5vlUS9oZ36FWqb42cy8YT4Ufewp23" class="btn btn-primary btn-lg m-2">Software</a>
              </div>
              <div class="six col">
                <a href="https://drive.google.com/open?id=1rLwS6ffGp8bFLQ1-ze53DOOfoeCeBExy" class="btn btn-primary btn-lg m-2">Cycle operators</a>
              </div>
            </div>
            <div class="row cf">
              <div class="six col">
                <a href="https://drive.google.com/open?id=1nEbGD_YGGzA3BKwZ95vLFBJuahtB8dqw" class="btn btn-primary btn-lg m-2">OS</a>
              </div>
              <div class="six col">
                <a href="https://drive.google.com/open?id=1N7kt4ZiVLEUTf4naiZWmIX09Lye_IUzC" class="btn btn-primary btn-lg m-2">Classification of OS</a>
              </div>
            </div>
            <div class="row cf">
              <div class="six col">
                <a href="https://drive.google.com/open?id=1cSMnFW9ZMVp7fj_F_Q16oBpQ139CnoCT" class="btn btn-primary btn-lg m-2">Von Neuman</a>
              </div>
              <div class="six col">
                <a href="https://drive.google.com/open?id=1pib-eCZ9Zh6F0oG4wo4ZCPcQ2Boimd2o" class="btn btn-primary btn-lg m-2">Memory Types</a>
              </div>
            </div>
            <div class="row cf">
              <div class="six col">
                <a href="https://drive.google.com/open?id=1vHqnRgvbPSSHp36-Ug98dFceEWMss26g" class="btn btn-primary btn-lg m-2">Boolean Algebra</a>
              </div>
              <div class="six col">
                <a href="https://drive.google.com/open?id=1cN_1Cse76cYQEPPeuLJ6-M08Bg48xIua" class="btn btn-primary btn-lg m-2">Logic Law</a>
              </div>
            </div>
            <div class="row cf">
              <div class="six col">
                <a href="https://drive.google.com/open?id=17d_YyObTyVhD5o9Vp__pXBjYplRpbZFf" class="btn btn-primary btn-lg m-2">Classification PL</a>
              </div>
              <div class="six col">
                <a href="https://drive.google.com/open?id=1cMW1SB-Uh_2Rp6i662502eRHDGNRaFqv" class="btn btn-primary btn-lg m-2">LMC</a>
              </div>
            </div>
            <div class="row cf">
              <div class="six col">
                <a href="https://drive.google.com/open?id=1qkxyIwl3CODCca_trU4srsXqUsnwnLAeIVdvCl3FCLw" class="btn btn-primary btn-lg m-2">Translators</a>
              </div>
              <div class="six col">
                <a href="https://drive.google.com/open?id=1GybsYQ8tSI5VreF-4iPi4EA__nlrpyiT" class="btn btn-primary btn-lg m-2">Lifecycle Stage</a>
              </div>
            </div>
            <div class="row cf">
              <div class="six col">
                <a href="https://drive.google.com/open?id=1Dmsj-EvP3vKtqNMTnYKGI7NHNBWbme21" class="btn btn-primary btn-lg m-2">Lifecycle Model</a>
              </div>
              <div class="six col">
                <a href="https://drive.google.com/open?id=1OYKW_JWvImF9EJ3Ag2-8lj4WNwiB7zlo" class="btn btn-primary btn-lg m-2">Data Analysis</a>
              </div>
            </div>
            <div class="row cf">
              <div class="six col">
                <a href="https://drive.google.com/open?id=1ldKVc2-cS9oKOxOBSGjttsVqmPriXs-2" class="btn btn-primary btn-lg btn-block mt-2 mb-5 ">DFD & Flowchart</a>
              </div>
            </div>

          </div>
        </div>
        <div class="tab-pane fade" id="v-pills-10g" role="tabpanel" aria-labelledby="v-pills-10g-tab">Coming Soon!</div>
      </div>
    </div>
  </div>
  </div>
  <div class="tab-pane fade" id="el" role="tabpanel" aria-labelledby="el-tab">Coming soon!</div>
  <div class="tab-pane fade" id="ph" role="tabpanel" aria-labelledby="ph-tab">Wait for update!</div>
</div>
{% endblock content %}
